<% if @order.blank? %>
  <p>There are not any orders with this ID currently in the system.</p>
<% else %>
  <ul id = "orders">
    <li>ORDER <%= @order.id %> (<%= @order.customer %>)</li>
      <% @order.items.split(",").each do | item | %>
        <ul id="items">
          <li><%=item %></li>
        </ul>
      <% end %>
    <% end %>
  </ul>